streamlit~=1.45.0
pandas~=2.2.3
plotly~=6.0.1
numpy~=2.0.2
torch~=2.7.0
python-dotenv~=1.1.0
loguru~=0.7.3
langgraph~=0.4.2
ipython~=8.18.1
langchain~=0.3.25
typing~=3.7.4.3
pillow~=11.2.1
dotenv
json
shutil
langchain_huggingface
langchain_ollama
langchain_core
langchain_community
typing_extensions
PIL